:root{
    --green:#137878;
    --black : #000000;
}

.post{
  z-index: 100;
}
.inner{
    display: flex;   
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    
}
.img::-webkit-file-upload-button {
    visibility: hidden;
  }
.img::before{
    
    margin: 0 auto;
    width: 50%;
    height: 140px;
    content: '+';
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: var(--green);
  border: 1px solid #999;
  border-radius: 30px;
  padding: 0px 0px 0px 125px;
  outline: none;
  cursor: pointer;
  font-size: 100px;
}


.textarea{
    width: 50%;
    font-size: 0.7em;
    height: 100px;
    margin: 0 auto;
}
button[type="submit"]
{
  display: flex;
  margin: 0 auto;
    width: 50%;
    background: var(--green);
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    padding: 10px;
    font-size: 18px;
    transition: .3s ease background-color;
}
button[type="submit"]:hover
{
    background-color: #04999A;
}
.sendlink{
  text-decoration: none;
  color: var(--white);
  display: flex;
  margin: 0 auto;
}