:root{
    --green: #137878;
    --white: #ffffff;
}
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 90vh;
    margin: 100px;
    border: 2px solid black;
    border-radius: 30px;
}
.heading2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 0%;
    color: var(--green);
}
.form{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 60px;
    margin-top: 0%;
}

.inputbox
{
    position: relative;
    left: 15%;
    width: 70%;
    margin-top: 15px;
}
.inputbox input
{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 9px 0;
    border: none;
    border-bottom: 2px solid#000;
    outline: none;
    resize: none;
}
.inputbox span
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}
button[type="submit"]
{
    width: 30%;
    background: var(--green);
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    padding: 10px;
    font-size: 18px;
    transition: .3s ease background-color;
}
button[type="submit"]:hover
{
    background-color: #04999A;
}


/* radio button */
.wrapper{
    position: relative;
    left: 15%;
}
.radioheading{
    margin-left: 2%;
    font-size: 20px;
    margin-bottom: 2%;
}
.radiocover{
    display: flex;
    width: 100%;
    margin: 0%;
}
.radiocover1{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 20%;
    font-size: 15px;
}
.option{
    padding-left: 10%;
    padding-right: 10px;
}
.radiocover2{
    display: flex;
    margin-left: 2%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    width: 20%;
    font-size: 15px;
}



  /* end radio */

.dob{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    left: 15%;
}
.dobheading{
    font-size: 20px;
}
.dobinput{
    width: 30%;
    margin-top: 2%;
    /* height: 30px; */
    border: 2px solid black;
    border-radius: 30px;
    padding: 7px;
    padding-left: 20px;
    font-size: 15px;
}

.send{
    margin-left: 140px;
}
.signup1{
    margin-left: 150px;
}