@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Redressed&display=swap');
:root{
    --green: #137878;
    --white: #ffffff;
}
*{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form{
    border: 2px solid black;
    padding: 100px;
    border-radius: 50px;
}
.vconnect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 13%;
}
.heading1{
    font-size: 116px;
    font-family: 'Redressed';
    color: var(--green);
    margin: 0%;
}
.tagline{
    font-size: 37px;
}
.tagline1{
    font-family: 'Redressed';
    color: var(--green);
    font-size: 55px;
}
.inputbox
{
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.form .inputbox input
/* .inputbox textarea */
{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 9px 0;
    border: none;
    border-radius: 0%;
    background-color: transparent;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
}
.inputbox span
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span
{
    color: black;
    font-size: 12px;
    transform: translateY(-20px);
}
button[type="submit"]
{
    width: 100%;
    background: var(--green);
    border-radius: 30px;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-top: 25px; */
    padding: 10px;
    font-size: 18px;
    transition: .3s ease background-color;
}
button[type="submit"]:hover
{
    background-color: #04999A;
}

.send{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendlink{
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    color: var(--white);
}
.signup2:hover{
    background: transparent;
    color: blue;
    text-decoration: none;
}