@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Redressed&display=swap');

:root{
    --green: #137878;
    --white: #ffffff;
}
.outer{
    position: fixed;
    width: 25%;
    height: 100vh;
    background-color: var(--white);
}
.heading{
    display: flex;
    justify-content: center;
    height: 30%;
}
.heading p{
    color: var(--green);
    font-size: 70px;
    font-family: 'Redressed';
    margin-top: 40px;
}
.list{
    list-style-type: none;
    font-size: 30px;
    
}
.list li{
    margin-top: 20px;
    cursor: pointer;
}
.icons{
    color: var(--white);
    background-color: var(--green);
    font-size: 1.5em;
    border-radius: 10px;
    padding: 7px;
}
.homeicons{
    color: var(--white);
    background-color: #000000;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 7px;
}